:root
{
    // --primaryColor: hsl(305, 77%, 64%);
    // --SecondaryColor:hsl(286, 85%, 43%);
    // --gradientColor: linear-gradient(to right,hsl(187,85%, 43%), hsl(199, 100%, 33%));
    // --whiteColor:hsl(0, 0%, 100%);
    // --blackColor:hsl(201, 33%, 16%);
    // --textColor:hsl(240, 4%, 36%);
    // --whiteColorDeam:hsl(0, 0%, 93%);
    // --greyText:rgb(198, 190, 190);         
    // --inputColor:rgb(239, 239, 239);
    // --bodyColor: rgb(240, 240, 246);
    // --cardBG: rgb(225, 225, 235)  
}
.home
{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.overlay
{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    background: rgb(79, 126, 143);
    top: 0;
    bottom: 0;
    z-index: 1;
    mix-blend-mode: hard-light;
}
video
{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    object-fit: cover;
}
.homecontent
{
    width: 100%;
    height: max-content;
    padding: 8rem 1.5rem 3rem;
    display: flex;
    row-gap: 3rem;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: auto;
    color: var(--whiteColor);
    z-index: 100;
}
.textdiv
{
    padding: 2rem 0;
}
.smalltext
{
    font-size: 13px;
    text-transform: uppercase;
}
.hometitle
{
    position: relative;
    font-size: 1.8rem;
}
.carddiv
{
    position: relative;
    padding: 2rem;
    background: var(--whiteColor);
    border-radius: 10px;
    gap: 1rem;
}
label
{
    display: block;
    color: var(--textColor);
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 13px;
}
.label_total
{
    justify-content: space-between;
    align-items: center;
}
.total
{
    color: var(--textColor);
    font-size: 18px;
    padding-bottom: 10px;
}
.input
{
    height: 40px;
    padding: 0 1rem;
    background: var(--inputColor);
    border-radius: 3rem;
}
input
{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 13px;
    font-weight: 500;

}
input::placeholder
{
    font-size: 13px;
}
.icon 
{
    font-size: 20px;
    color: var(--primaryColor)
    !important;
    margin-left: 10px;
}
.input[type=range]
{
    background: var(--inputColor);
}
.searchoptions
{
    position: absolute;
    background: var(--gradientColor);
    width: max-content;
    bottom: -0.7rem;
    column-gap: .8rem;
    padding: 5px 1rem;
    border-radius: 3rem;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;
    cursor: pointer;
}
.searchoptions:hover
{
    background: var(--primaryColor);
}
.searchoptions .icon
{
    font-size: 20px;

}
.searchoptions span
{
    font-size: 13px;
}
.homefootericons
{
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}
.icon1
{
    font-size: 30px;
    margin: 0 5px;
    color: var(--whiteColor);
    font-weight: 600;
}
.icon1:hover
{
    color: var(--primaryColor);
}

@media screen and (min-width: 500px)
{
    .home
    {
        .homecontent
        {
            .textdiv
            {
                .smalltext
                {
                    font-size: 16px;
                }
                .hometitle
                {
                    position: relative;
                    font-size: 2.3rem;
                    width: max-content;
                    &::after
                    {
                        position: absolute;
                        content: '';
                        background: var(--SecondaryColor);
                        height: 5px;
                        width: 145px;
                        right: 0px;
                        bottom: 5px;
                        z-index: -1;
                    }
                }
            }
            .carddiv
            {
                grid-template-columns: repeat(2,1fr);
            }
        }
    }    
}
// @media screen and (min-width: 600px)
// {
//     .home
//     {
//         .homecontent
//         {
//             .carddiv
//             {
//                 padding: 2rem 1rem;
//                 grid-template-columns: repeat(3,1fr);
//             }
//         }
//     }
// }

@media screen and (min-width: 500px)
{
    .home
    {
        .homecontent
        {
            .textdiv
            {
                .smalltext
                {
                    font-size: 16px;
                }
                .hometitle
                {
                    position: relative;
                    font-size: 2.3rem;
                    width: max-content;
                    &::after
                    {
                        position: absolute;
                        content: '';
                        background: var(--SecondaryColor);
                        height: 5px;
                        width: 145px;
                        right: 0;
                        bottom: 0;
                        z-index: -1;
                    }
                }
            }
            .carddiv
            {
                grid-template-columns: repeat(2,1);
            }
        }
    }
}

@media screen and (min-width: 660px)
{
    .home
    {
        .homecontent
        {
            .carddiv
            {
                padding: 2rem 1rem;
                grid-template-columns: repeat(3,1fr);
            }
        }
    }
}

@media screen and (min-width: 940px)
{
    .home
    {
        height: 80vh;
        // error
    }
}
@media screen and (min-width: 1240px)
{
    .home
    {
        height: 100vh;
        .homecontent
        {
            padding-left: 0;
            padding-right: 0;
            .carddiv
            {
                padding: 2rem 1rem;
                grid-template-columns: repeat(3,1fr);
                .input
                {
                    margin-bottom: 1rem;
                }
                .searchoptions
                {
                    bottom: -1rem;
                    padding: 8px 1rem;
                    span
                    {
                        font-size: 17px;
                    }
                }
            }
        }
    }

}